STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRO=
STRIPE_PRICE_B2B=
VITE_PORT=5173
APP_URL=http://localhost:5173
VITE_ENABLE_DEV_LOGIN_SHORTCUTS=false
REPORT_TOKEN_SECRET=
SUPER_ADMIN_MASTER_KEY=InsightDiscMaster2026!
SUPER_ADMIN_SEED_EMAIL=admin@insightdisc.app
SUPER_ADMIN_SEED_PASSWORD=Trocar123!
